
<form class="form-horizontal" name="myaccount" novalidate data-layout="row" ng-submit="submit()" ng-controller="MyAccountCtrl">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="inputName" type="text" class="form-control" ng-model="myaccount.name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input id="inputEmail" type="email" class="form-control" ng-model="myaccount.email" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
            <input id="inputPhone" type="tel" pattern="\+7\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}" class="form-control" ng-model="myaccount.phone">
        </div>
    </div>
    <div class="form-group">
        <button class="btn-call-to-action btn btn-primary">
            Save
        </button>
    </div>
</form>